<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px">
  <div fxFlex="50" class="">
    <h1>
      {{ heroe.superhero }} <small>- {{ heroe.alter_ego }}</small>
    </h1>

    <mat-divider></mat-divider>

    <br />

    <img class="w-100 rounded-1" [src]="heroe | imagen" />
  </div>
  <div fxFlex="50" class="">
    <h1>{{ heroe.publisher }}</h1>
    <mat-divider></mat-divider>

    <mat-list>
      <mat-list-item>{{ heroe.first_appearance }}</mat-list-item>
      <mat-list-item>{{ heroe.characters }}</mat-list-item>
      <mat-list-item>{{ heroe.publisher }}</mat-list-item>
      <mat-list-item>{{ heroe.alter_ego }}</mat-list-item>
    </mat-list>

    <br />

    <mat-card-actions>
      <button mat-button color="warn" (click)="goBack()">Listado</button>
      <button mat-button color="info" [routerLink]="['/heroes/editar', heroe.id]">Editar</button>
    </mat-card-actions>
  </div>
</div>